# 从数据库读取各表的数据

In [1]:
from sqlite3 import connect
import pandas as pd
import numpy as np
db_name = 'test_calculate.db'
con = connect(db_name)#取得数据库连接对象
cur = con.cursor()#取得数据库游标对象
#导线选型
sqlcom_area_line = 'select area_line from star_lines'
sqlcom_m_line = 'select m_line from star_lines'
sqlcom_rou_line = 'select rou_line from star_lines'
sqlcom_i_line = 'select i_line from star_lines'
sqlcom_cal_r = 'select cal_r from star_lines'
sqlcom_q_r = 'select q_r from star_lines'
sqlcom_axis_x = 'select axis_x from star_lines'
sqlcom_axis_y = 'select axis_y from star_lines'

df1_sqlcom_area_line = pd.read_sql(sqlcom_area_line,con)
df1_sqlcom_m_line = pd.read_sql(sqlcom_m_line,con)
df1_sqlcom_rou_line = pd.read_sql(sqlcom_rou_line,con)
df1_sqlcom_i_line = pd.read_sql(sqlcom_i_line,con)
df1_sqlcom_cal_r = pd.read_sql(sqlcom_cal_r,con)
df1_sqlcom_q_r = pd.read_sql(sqlcom_q_r,con)
df1_sqlcom_axis_x = pd.read_sql(sqlcom_axis_x,con)
df1_sqlcom_axis_y = pd.read_sql(sqlcom_axis_y,con)


df2_sqlcom_area_line = np.array(df1_sqlcom_area_line) #先使用array()将DataFrame转换一下
df2_sqlcom_m_line = np.array(df1_sqlcom_m_line) #先使用array()将DataFrame转换一下
df2_sqlcom_rou_line = np.array(df1_sqlcom_rou_line) #先使用array()将DataFrame转换一下
df2_sqlcom_i_line = np.array(df1_sqlcom_i_line) #先使用array()将DataFrame转换一下
df2_sqlcom_cal_r = np.array(df1_sqlcom_cal_r) #先使用array()将DataFrame转换一下
df2_sqlcom_q_r = np.array(df1_sqlcom_q_r) #先使用array()将DataFrame转换一下
df2_sqlcom_axis_x = np.array(df1_sqlcom_axis_x) #先使用array()将DataFrame转换一下
df2_sqlcom_axis_y = np.array(df1_sqlcom_axis_y) #先使用array()将DataFrame转换一下

df3_sqlcom_area_line = df2_sqlcom_area_line.tolist()
df3_sqlcom_m_line = df2_sqlcom_m_line.tolist()
df3_sqlcom_rou_line = df2_sqlcom_rou_line.tolist()
df3_sqlcom_i_line = df2_sqlcom_i_line.tolist()
df3_sqlcom_cal_r = df2_sqlcom_cal_r.tolist()
df3_sqlcom_q_r = df2_sqlcom_q_r.tolist()
df3_sqlcom_axis_x = df2_sqlcom_axis_x.tolist()
df3_sqlcom_axis_y = df2_sqlcom_axis_y.tolist()


# print(df3_sqlcom_area_line)
# print(df3_sqlcom_m_line)
# print(df3_sqlcom_rou_line)
# print(df3_sqlcom_i_line)
# print(df3_sqlcom_cal_r)
# print(df3_sqlcom_q_r)
# print(df3_sqlcom_axis_x)
# print(df3_sqlcom_axis_y)

#AT变压器
sqlcom_name_AT = 'select name_AT from star_AT'
sqlcom_model_AT = 'select model_AT from star_AT'
sqlcom_location_AT = 'select location_AT from star_AT'
sqlcom_lou_AT = 'select lou from star_AT'

df1_sqlcom_name_AT = pd.read_sql(sqlcom_name_AT,con)
df1_sqlcom_model_AT = pd.read_sql(sqlcom_model_AT,con)
df1_sqlcom_location_AT = pd.read_sql(sqlcom_location_AT,con)
df1_sqlcom_lou_AT = pd.read_sql(sqlcom_lou_AT,con)

df2_sqlcom_name_AT = np.array(df1_sqlcom_name_AT) #先使用array()将DataFrame转换一下
df2_sqlcom_model_AT = np.array(df1_sqlcom_model_AT) #先使用array()将DataFrame转换一下
df2_sqlcom_location_AT = np.array(df1_sqlcom_location_AT) #先使用array()将DataFrame转换一下
df2_sqlcom_lou_AT = np.array(df1_sqlcom_lou_AT) #先使用array()将DataFrame转换一下

df3_sqlcom_name_AT = df2_sqlcom_name_AT.tolist()
df3_sqlcom_model_AT = df2_sqlcom_model_AT.tolist()
df3_sqlcom_location_AT = df2_sqlcom_location_AT.tolist()
df3_sqlcom_lou_AT = df2_sqlcom_lou_AT.tolist()

# print(df3_sqlcom_name_AT)
# print(df3_sqlcom_model_AT)
# print(df3_sqlcom_location_AT)
# print(df3_sqlcom_lou_AT)

#牵引变压器
sqlcom_name_qianyin = 'select name_qianyin from star_qianyin'
sqlcom_model_qianyin = 'select model_qianyin from star_qianyin'
sqlcom_neizukang_qianyin = 'select neizukang_qianyin from star_qianyin'
sqlcom_location_qianyin = 'select location_qianyin from star_qianyin'

df1_sqlcom_name_qianyin = pd.read_sql(sqlcom_name_qianyin,con)
df1_sqlcom_model_qianyin = pd.read_sql(sqlcom_model_qianyin,con)
df1_sqlcom_neizukang_qianyin = pd.read_sql(sqlcom_neizukang_qianyin,con)
df1_sqlcom_location_qianyin = pd.read_sql(sqlcom_location_qianyin,con)

df2_sqlcom_name_qianyin = np.array(df1_sqlcom_name_qianyin) #先使用array()将DataFrame转换一下
df2_sqlcom_model_qianyin = np.array(df1_sqlcom_model_qianyin) #先使用array()将DataFrame转换一下
df2_sqlcom_neizukang_qianyin = np.array(df1_sqlcom_neizukang_qianyin) #先使用array()将DataFrame转换一下
df2_sqlcom_location_qianyin = np.array(df1_sqlcom_location_qianyin) #先使用array()将DataFrame转换一下

df3_sqlcom_name_qianyin = df2_sqlcom_name_qianyin.tolist()
df3_sqlcom_model_qianyin = df2_sqlcom_model_qianyin.tolist()
df3_sqlcom_neizukang_qianyin = df2_sqlcom_neizukang_qianyin.tolist()
df3_sqlcom_location_qianyin = df2_sqlcom_location_qianyin.tolist()

# print(df3_sqlcom_name_qianyin)
# print(df3_sqlcom_model_qianyin)
# print(df3_sqlcom_neizukang_qianyin)
# print(df3_sqlcom_location_qianyin)

#上下行并联线
sqlcom_name_1 = 'select name_1 from star_shangxiaxingbinglianxian'
sqlcom_name_2 = 'select name_2 from star_shangxiaxingbinglianxian'
sqlcom_location_star_shangxiaxingbinglianxian = 'select location_star_shangxiaxingbinglianxian from star_shangxiaxingbinglianxian'

df1_sqlcom_name_1 = pd.read_sql(sqlcom_name_1,con)
df1_sqlcom_name_2 = pd.read_sql(sqlcom_name_2,con)
df1_sqlcom_location_star_shangxiaxingbinglianxian = pd.read_sql(sqlcom_location_star_shangxiaxingbinglianxian,con)

df2_sqlcom_name_1 = np.array(df1_sqlcom_name_1) #先使用array()将DataFrame转换一下
df2_sqlcom_name_2 = np.array(df1_sqlcom_name_2) #先使用array()将DataFrame转换一下
df2_sqlcom_location_star_shangxiaxingbinglianxian = np.array(df1_sqlcom_location_star_shangxiaxingbinglianxian) #先使用array()将DataFrame转换一下

df3_sqlcom_name_1 = df2_sqlcom_name_1.tolist()
df3_sqlcom_name_2 = df2_sqlcom_name_2.tolist()
df3_sqlcom_location_star_shangxiaxingbinglianxian = df2_sqlcom_location_star_shangxiaxingbinglianxian.tolist()

# print(df3_sqlcom_name_1)
# print(df3_sqlcom_name_2)
# print(df3_sqlcom_location_star_shangxiaxingbinglianxian)

#pw1和ra1
sqlcom_location_star_pw1_ra1 = 'select location_star_pw1_ra1 from star_pw1_ra1'

df1_sqlcom_location_star_pw1_ra1 = pd.read_sql(sqlcom_location_star_pw1_ra1,con)

df2_sqlcom_location_star_pw1_ra1 = np.array(df1_sqlcom_location_star_pw1_ra1) #先使用array()将DataFrame转换一下

df3_sqlcom_location_star_pw1_ra1 = df2_sqlcom_location_star_pw1_ra1.tolist()

#print(df3_sqlcom_location_star_pw1_ra1)

#e1和ra1
sqlcom_location_star_e1_ra1 = 'select location_star_e1_ra1 from star_e1_ra1'
df1_sqlcom_location_star_e1_ra1 = pd.read_sql(sqlcom_location_star_e1_ra1,con)

df2_sqlcom_location_star_e1_ra1 = np.array(df1_sqlcom_location_star_e1_ra1) #先使用array()将DataFrame转换一下

df3_sqlcom_location_star_e1_ra1 = df2_sqlcom_location_star_e1_ra1.tolist()

# print(df3_sqlcom_location_star_e1_ra1)

#e1和g
sqlcom_location_star_e1_g = 'select location_star_e1_g from star_e1_g'
sqlcom_Z_star_e1_g = 'select Z_star_e1_g from star_e1_g'

df1_sqlcom_location_star_e1_g = pd.read_sql(sqlcom_location_star_e1_g,con)
df1_sqlcom_Z_star_e1_g = pd.read_sql(sqlcom_Z_star_e1_g,con)

df2_sqlcom_location_star_e1_g = np.array(df1_sqlcom_location_star_e1_g) #先使用array()将DataFrame转换一下
df2_sqlcom_Z_star_e1_g = np.array(df1_sqlcom_Z_star_e1_g) #先使用array()将DataFrame转换一下

df3_sqlcom_location_star_e1_g = df2_sqlcom_location_star_e1_g.tolist()
df3_sqlcom_Z_star_e1_g = df2_sqlcom_Z_star_e1_g.tolist()

# print(df3_sqlcom_location_star_e1_g)
# print(df3_sqlcom_Z_star_e1_g)

#pw2和ra3
sqlcom_location_star_pw2_ra3 = 'select location_star_pw2_ra3 from star_pw2_ra3'
df1_sqlcom_location_star_pw2_ra3 = pd.read_sql(sqlcom_location_star_pw2_ra3,con)

df2_sqlcom_location_star_pw2_ra3 = np.array(df1_sqlcom_location_star_pw2_ra3) #先使用array()将DataFrame转换一下

df3_sqlcom_location_star_pw2_ra3 = df2_sqlcom_location_star_pw2_ra3.tolist()

#print(df3_sqlcom_location_star_pw2_ra3)

#e2和ra3
sqlcom_location_star_e2_ra3 = 'select location_star_e2_ra3 from star_e2_ra3'
df1_sqlcom_location_star_e2_ra3 = pd.read_sql(sqlcom_location_star_e2_ra3,con)

df2_sqlcom_location_star_e2_ra3 = np.array(df1_sqlcom_location_star_e2_ra3) #先使用array()将DataFrame转换一下

df3_sqlcom_location_star_e2_ra3 = df2_sqlcom_location_star_e2_ra3.tolist()

#print(df3_sqlcom_location_star_e2_ra3)

#e2和g
sqlcom_location_star_e2_g = 'select location_star_e2_g from star_e2_g'
sqlcom_Z_star_e2_g = 'select Z_star_e2_g from star_e2_g'

df1_sqlcom_location_star_e2_g = pd.read_sql(sqlcom_location_star_e2_g,con)
df1_sqlcom_Z_star_e2_g = pd.read_sql(sqlcom_Z_star_e2_g,con)

df2_sqlcom_location_star_e2_g = np.array(df1_sqlcom_location_star_e2_g) #先使用array()将DataFrame转换一下
df2_sqlcom_Z_star_e2_g = np.array(df1_sqlcom_Z_star_e2_g) #先使用array()将DataFrame转换一下

df3_sqlcom_location_star_e2_g = df2_sqlcom_location_star_e2_g.tolist()
df3_sqlcom_Z_star_e2_g = df2_sqlcom_Z_star_e2_g.tolist()

# print(df3_sqlcom_location_star_e2_g)
# print(df3_sqlcom_Z_star_e2_g)

#ra1和g
sqlcom_location_star_ra1_g = 'select location_star_ra1_g from star_ra1_g'
sqlcom_Z_star_ra1_g = 'select Z_star_ra1_g from star_ra1_g'

df1_sqlcom_location_star_ra1_g = pd.read_sql(sqlcom_location_star_ra1_g,con)
df1_sqlcom_Z_star_ra1_g = pd.read_sql(sqlcom_Z_star_ra1_g,con)

df2_sqlcom_location_star_ra1_g = np.array(df1_sqlcom_location_star_ra1_g) #先使用array()将DataFrame转换一下
df2_sqlcom_Z_star_ra1_g = np.array(df1_sqlcom_Z_star_ra1_g) #先使用array()将DataFrame转换一下

df3_sqlcom_location_star_ra1_g = df2_sqlcom_location_star_ra1_g.tolist()
df3_sqlcom_Z_star_ra1_g = df2_sqlcom_Z_star_ra1_g.tolist()

# print(df3_sqlcom_location_star_ra1_g)
# print(df3_sqlcom_Z_star_ra1_g)

#ra3和g
sqlcom_location_star_ra3_g = 'select location_star_ra3_g from star_ra3_g'
sqlcom_Z_star_ra3_g = 'select Z_star_ra3_g from star_ra3_g'

df1_sqlcom_location_star_ra3_g = pd.read_sql(sqlcom_location_star_ra3_g,con)
df1_sqlcom_Z_star_ra3_g = pd.read_sql(sqlcom_Z_star_ra3_g,con)

df2_sqlcom_location_star_ra3_g = np.array(df1_sqlcom_location_star_ra3_g) #先使用array()将DataFrame转换一下
df2_sqlcom_Z_star_ra3_g = np.array(df1_sqlcom_Z_star_ra3_g) #先使用array()将DataFrame转换一下

df3_sqlcom_location_star_ra3_g = df2_sqlcom_location_star_ra3_g.tolist()
df3_sqlcom_Z_star_ra3_g = df2_sqlcom_Z_star_ra3_g.tolist()

# print(df3_sqlcom_location_star_ra1_g)
# print(df3_sqlcom_Z_star_ra1_g)

#机车
sqlcom_model_locomotive = 'select model_locomotive from star_locomotive'
sqlcom_upanddown_locomotive = 'select upanddown_locomotive from star_locomotive'
sqlcom_loadcurrent_locomotive = 'select loadcurrent_locomotive from star_locomotive'
sqlcom_Harmonic_frequency_locomotive = 'select Harmonic_frequency_locomotive from star_locomotive'
sqlcom_Harmonic_content_locomotive = 'select Harmonic_content_locomotive from star_locomotive'
sqlcom_location_locomotive = 'select location_locomotive from star_locomotive'

df1_sqlcom_model_locomotive = pd.read_sql(sqlcom_model_locomotive,con)
df1_sqlcom_upanddown_locomotive = pd.read_sql(sqlcom_upanddown_locomotive,con)
df1_sqlcom_loadcurrent_locomotive = pd.read_sql(sqlcom_loadcurrent_locomotive,con)
df1_sqlcom_Harmonic_frequency_locomotive = pd.read_sql(sqlcom_Harmonic_frequency_locomotive,con)
df1_sqlcom_Harmonic_content_locomotive = pd.read_sql(sqlcom_Harmonic_content_locomotive,con)
df1_sqlcom_location_locomotive = pd.read_sql(sqlcom_location_locomotive,con)

df2_sqlcom_model_locomotive = np.array(df1_sqlcom_model_locomotive) #先使用array()将DataFrame转换一下
df2_sqlcom_upanddown_locomotive = np.array(df1_sqlcom_upanddown_locomotive) #先使用array()将DataFrame转换一下
df2_sqlcom_loadcurrent_locomotive = np.array(df1_sqlcom_loadcurrent_locomotive) #先使用array()将DataFrame转换一下
df2_sqlcom_Harmonic_frequency_locomotive = np.array(df1_sqlcom_Harmonic_frequency_locomotive) #先使用array()将DataFrame转换一下
df2_sqlcom_Harmonic_content_locomotive = np.array(df1_sqlcom_Harmonic_content_locomotive) #先使用array()将DataFrame转换一下
df2_sqlcom_location_locomotive = np.array(df1_sqlcom_location_locomotive) #先使用array()将DataFrame转换一下

df3_sqlcom_model_locomotive = df2_sqlcom_model_locomotive.tolist()
df3_sqlcom_upanddown_locomotive = df2_sqlcom_upanddown_locomotive.tolist()
df3_sqlcom_loadcurrent_locomotive = df2_sqlcom_loadcurrent_locomotive.tolist()
df3_sqlcom_Harmonic_frequency_locomotive = df2_sqlcom_Harmonic_frequency_locomotive.tolist()
df3_sqlcom_Harmonic_content_locomotive = df2_sqlcom_Harmonic_content_locomotive.tolist()
df3_sqlcom_location_locomotive = df2_sqlcom_location_locomotive.tolist()

# print(df3_sqlcom_model_locomotive)
# print(df3_sqlcom_upanddown_locomotive)
# print(df3_sqlcom_loadcurrent_locomotive)
# print(df3_sqlcom_Harmonic_frequency_locomotive)
# print(df3_sqlcom_Harmonic_content_locomotive)
# print(df3_sqlcom_location_locomotive)